.wrapper[data-active='true'] {
    @media screen and (max-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: transparent;

        // z-index: 1;
    }
}
.sideNav {
    display: flex;
    flex-direction: column;

    // min-width: 17rem; // 270 was mean of 311 and 230, 272 is 17rem
    // min-width: 15vw;
    max-width: 15vw;
    padding: 3.375rem;

    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        padding: 0;
        z-index: 10;

        max-width: none;
        min-width: 15vw;

        background-color: var(--side-nav-back-color);
    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 13rem; // 207 -> 208px
        width: 13rem;
        background-color: transparent;
        outline: none;
        border: none;

        // margin: 0 3.375rem;
        border-radius: var(--std-radius-small);
        color: var(--side-nav-text-inactive);

        cursor: pointer;

        @media screen and (max-width: 768px) {
            width: auto;
            height: auto;
            align-items: flex-start;
            margin: 0;
            padding: 1rem;
            color: #707070;
            border-radius: 0;

            &:nth-child(2) {
                margin-top: 2rem;
            }
        }

        .text {
            font-size: 1.875rem; // 30px
            font-family: 'tex-regular';

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                font-family: 'tex-bold';
            }
        }

        img {
            width: 2rem;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
    .button[data-link-active='true'] {
        color: var(--side-nav-text-active);
        background-color: #fff;
        box-shadow: 0px 3px 6px #00000029;

        @media screen and (max-width: 768px) {
            box-shadow: none;
            background-color: transparent;
        }
    }

    .closeButton {
        display: none;
        width: 1.25rem;
        margin-top: 1.125rem;
        margin-left: 1.125rem;

        @media screen and (max-width: 768px) {
            display: initial;
        }
    }
}
.sideNav[data-active='true'] {
    @media screen and (max-width: 768px) {
        left: 0;
    }
}
