.primarySection {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 8rem; // equal to primary section top padding

    .sectionColumn {
        display: flex;
        flex-direction: column;
    }

    .sectionColumn:first-child {
        flex: 1;
        margin-right: 20%;

        @media screen and (max-width: 768px) {
            margin-right: initial;
        }
    }

    .columnArt {
        position: absolute;
        top: 20rem;
        right: -10rem;
        width: 25rem;
    }
}

.profileBrief {
    display: flex;
    flex-direction: row;

    .profileColumn:first-child {
        align-items: center;
        padding-top: 2rem;
        margin-right: 4.625rem;

        @media screen and (max-width: 768px) {
            justify-content: space-evenly;
            padding-top: 0;
            margin-right: 2.125rem;
        }
    }
    .profileColumn {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;

        .profileImage {
            margin-bottom: -6rem;
            width: 14.5rem;
            z-index: 1;

            @media screen and (max-width: 768px) {
                width: 5rem;
                margin-bottom: 0;
            }
        }

        .fillerImg {
            // values from design: (incorrect render)
            // width: 9.125rem;
            // margin-left: -2rem;
            // margin-right: -3rem;
            width: 12.125rem;
            margin-left: -5rem;
            margin-right: -7rem;
            margin-bottom: -2rem;
        }

        .infoNLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            padding: 4.625rem 1.375rem;
            padding-top: 8.75rem;

            box-shadow: inset 0px 3px 3px #00000029;
            border-radius: var(--std-radius);

            @media screen and (max-width: 768px) {
                font-size: 0.625rem;
                box-shadow: none;
            }

            .memberInfo {
                margin-bottom: 2.25rem;
                font-family: 'tex-bold';
            }
        }

        .socialLinks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            img {
                width: 3.5rem;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    width: 1.625rem;
                }
            }
            img:nth-child(n + 2) {
                margin-left: 1.75rem;

                @media screen and (max-width: 768px) {
                    margin-left: 1.25rem;
                }
            }
        }

        .profileName {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media screen and (max-width: 768px) {
                align-items: stretch;
            }

            .editButton {
                width: 1.375rem;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    width: 0.625rem;
                }
            }

            h1 {
                @media screen and (max-width: 768px) {
                    margin-bottom: 0.25rem;
                }
            }
        }

        .collegeInfo {
            color: #5c5a5a;
            font-size: 1.625rem;

            @media screen and (max-width: 768px) {
                font-size: 0.75rem;
                margin-bottom: 0.766rem;
            }
        }

        .rewards {
            margin-top: 3.5rem;

            @media screen and (max-width: 768px) {
                margin-top: 2rem;
            }

            .rewardsHeading {
                color: #6a6a6a;
                font-size: 1.75rem;
                font-family: 'tex-bold';

                @media screen and (max-width: 768px) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.rewardsCard {
    display: flex;
    flex-direction: row;

    min-width: 31.25rem;
    padding: 1.5rem 1.625rem;
    margin: 1.25rem 0;
    border-radius: var(--std-radius-small);
    box-shadow: 0px 3px 6px #00000029;

    @media screen and (max-width: 768px) {
        padding: 0.75rem 1.125rem;
        min-width: 14.375rem;
        border-radius: 0.375rem;
        margin: 0.5rem 0;
    }

    .text {
        flex: 1;
        color: #6a6a6a;
        font-family: 'tex-bold';
        font-size: 1.75rem;

        @media screen and (max-width: 768px) {
            font-size: 0.75rem;
        }
    }

    .share {
        filter: invert(0.5);
        cursor: pointer;

        @media screen and (max-width: 768px) {
            width: 0.875rem;
        }
    }
}

.profileEditDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba($color: #f9f9f9, $alpha: 0.84) 0% 0% no-repeat padding-box;

    .box {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;

        padding: 4.25rem 3.25rem;
        background: rgba($color: #ffffff, $alpha: 0.91) 0% 0% no-repeat
            padding-box;
        border-radius: 3rem;

        transform: translate(-50%, -50%);

        @media screen and (max-width: 768px) {
            padding: 2rem;
        }

        .row {
            display: flex;
            flex-direction: row;
            margin-bottom: 3.75rem;

            @media screen and (max-width: 768px) {
                margin-bottom: 1rem;
            }

            &:first-child {
                margin-top: -3rem;
                margin-right: -2rem;
                justify-content: flex-end;

                @media screen and (max-width: 768px) {
                    margin-top: -1rem;
                    margin-right: -1rem;
                }

                img {
                    cursor: pointer;
                    width: 2rem;
                    filter: invert(0.5);

                    @media screen and (max-width: 768px) {
                        width: 1rem;
                    }
                }
            }

            img {
                width: 3.5rem;
                margin-right: 1rem;

                @media screen and (max-width: 768px) {
                    width: 1.5rem;
                    margin-right: 0.5rem;
                }
            }

            input {
                min-width: 35rem;

                font-size: 1.25rem;
                color: #77829f;
                background: #ffffff 0% 0% no-repeat padding-box;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-right: 1rem;

                border-radius: 15px;
                border: 0;
                box-shadow: inset 0px 3px 6px #00000029;

                @media screen and (max-width: 768px) {
                    min-width: 5rem;
                    font-size: 0.75rem;
                }
            }

            button {
                font-size: 1.25rem;
                color: #77829f;
                background-color: transparent;
                text-align: center;

                border: 0;
                outline: 0;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    font-size: 0.75rem;
                }
            }
        }
    }
}
