.nav {
    display: flex;
    flex-direction: row;
    color: #5c5a5a;

    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-size: 2rem;
        padding: 3rem;

        img {
            margin-left: 3.5rem;
        }
    }
    .item:first-child {
        flex: 1;
        justify-content: flex-start;
    }
}
