.nav {
    display: flex;
    flex-direction: row;

    width: 100%;
    color: #5c5a5a;
    padding: 3rem;

    @media screen and (max-width: 768px) {
        justify-content: space-around;
        padding: 1.75rem 1.25rem;
    }

    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-size: 2rem;
        padding: 0 3rem 0 0;

        @media screen and (max-width: 768px) {
            flex: 1;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .item:first-child {
        @media screen and (max-width: 768px) {
            justify-content: flex-start;
        }
    }
    .item:last-child {
        padding: 0;
        @media screen and (max-width: 768px) {
            justify-content: flex-end;
        }
    }
    .logo {
        flex: 1;
        justify-content: flex-start;

        img {
            cursor: pointer;
            // height: 5rem; // 80px -> should be the val acc to design params
            height: 3.5rem; // more design lookalike
            @media screen and (max-width: 768px) {
                height: 2.18rem;
            }
        }
    }
    .userProfile {
        img {
            height: 5rem; // 80px
            cursor: pointer;

            @media screen and (max-width: 768px) {
                height: auto;
                width: 2.18rem; // 35px
            }
        }
    }
}
