.rewardsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 22rem;
    height: 22rem;
    background: #7780a0 0% 0% no-repeat padding-box;
    border-radius: 1.25rem;
    box-shadow: 0px 6px 9px #00000029;
    margin: 1rem;

    & > * {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 1.25rem;
    }
    &:nth-child(2n) {
        background: #c86374 0% 0% no-repeat padding-box;
    }
    &:last-child {
        background: #c86374 0% 0% no-repeat padding-box;
    }

    @media screen and (max-width: 768px) {
        width: 6.25rem;
        height: 6.25rem;

        &:nth-child(4n + 1),
        &:nth-child(4n + 4) {
            background: #7780a0 0% 0% no-repeat padding-box;
        }
        &:nth-child(4n + 2),
        &:nth-child(4n + 3) {
            background: #c86374 0% 0% no-repeat padding-box;
        }
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4rem;

        color: white;
        font-size: 1.875rem;
        text-align: center;

        transform: rotateY(180deg);
        opacity: 0;

        transition: transform var(--std-transition-time) ease,
            opacity var(--std-transition-time) ease;

        @media screen and (max-width: 768px) {
            font-size: 0.625rem;
            padding: 0 0.3rem;
        }
    }
    .image {
        display: flex;
        justify-content: center;
        align-items: center;

        transform: none;
        opacity: 1;

        transition: transform var(--std-transition-time) ease,
            opacity var(--std-transition-time) ease;

        span {
            color: white;
            font-size: 2.5rem;
            font-family: 'tex-bold';
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 0.8rem;
            }
        }
    }
}
.card:hover {
    .image {
        transform: rotateY(180deg);
        opacity: 0;
    }
    .text {
        transform: none;
        opacity: 1;
    }
}
