.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;

    background: var(--blue-gradient);

    @media screen and (max-width: 768px) {
        padding: 1.625rem 1.125rem;
    }

    .sectionAddress {
        display: flex;
        flex-direction: column;

        font-family: 'tex-bold';
        color: white;
        font-size: 1.5rem;

        @media screen and (max-width: 768px) {
            font-size: 0.625rem;
        }
    }
    .sectionLinks {
        display: flex;
        flex-direction: row;

        .logo {
            width: revert;
            height: 2rem;
            filter: revert;

            @media screen and (max-width: 768px) {
                height: 0.75rem;
            }
        }

        img {
            filter: invert(1);
            width: 2rem;
            margin-right: 2rem;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                width: 0.75rem;
                margin-right: 0.75rem;
            }
        }
        img:last-child {
            margin-right: 0;
        }
    }
}
