.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;

    background: var(--blue-gradient);

    .sectionAddress {
        display: flex;
        flex-direction: column;

        font-family: 'tex-bold';
        color: white;
        font-size: 1.5rem;
    }
    .sectionLinks {
        display: flex;
        flex-direction: row;

        .logo {
            width: revert;
            height: 2rem;
            filter: revert;
        }

        img {
            filter: invert(1);
            width: 2rem;
            margin-right: 2rem;
        }
        img:last-child {
            margin-right: 0;
        }
    }
}
