.primarySection {
    flex: 1;

    background-color: var(--section-color);
    color: var(--text-color);

    padding: 3rem;
    padding-top: 8rem; // 129px -> 128px = 8rem
    padding-left: 4.875rem; // 78px
    border-radius: var(--std-radius-big) var(--std-radius-big) 0 0;

    @media screen and (max-width: 768px) {
        position: relative;
        width: 100vw;
        padding: 0 1rem;
        border-radius: 0;
    }
}
.hero {
    padding: 0;
}
